# List Assignment

In [54]:
# Create a list of the first 20 positive integers. Print the list

l1 = []
for i in range(1,21):
    l1.append(i) 
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [55]:
# Print the first, middle, and last elements of the list created in Assignment 1
l1 = list(range(1,21))

first = l1[0]
middle = l1[len(l1)//2]
last = l1[-1]

print("first number",first)
print("middle number",middle)
print("last number",last)

first number 1
middle number 11
last number 20

In [56]:
# Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1

l1 = list(range(5,16))

print("the first five element",l1[0:5])
print("the last element",l1[-1:-6:-1])

the first five element [5, 6, 7, 8, 9]
the last element [15, 14, 13, 12, 11]

In [1]:
# Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list
n =int(input("Enter the number"))

list1 = list(range(1,n+1))
list2 = [i**2 for i in list1]

print("original list = ",list1)
print("square list",list2)

original list =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55]
square list [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025]

In [ ]:
# Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list

list1 = list(range(1,21))

list2 = [i for i in list1 if i%2==0]

print("the number in this list",list1)
print("even number",list2)

the number in this list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
even number [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

import random

list1 = [random.randint(1,100) for _ in range(10)]
list1 = list(set(list1))
list1.sort(reverse=True)

print(list1)

[100, 97, 85, 58, 53, 49, 47, 33, 24]

In [ ]:
#Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.


list1 = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
data = list1[1][2]
print(data)

6

In [ ]:
# Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list

data = [
    {'Abhinav': 70},
    {'Bhanu': 90},
    {'Ranjor': 75},
    {'Surya': 80}
]

data.sort(key=lambda x: list(x.values())[0])
#data.sort(key=lambda x: list(x.keys())[0])
print(data)

[{'Abhinav': 70}, {'Ranjor': 75}, {'Surya': 80}, {'Bhanu': 90}]

In [ ]:
#Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.
def transpose(data):
    return [list(row) for row in zip(*data)]

list1 = [
    [1,2,3],
    [8,7,6],
    [4,3,9]
]
transpose_n = transpose(list1) 

print("original list")
for i in list1:
    print(i)

print("transposed matrix")   
for r in transpose_n:
    print(r)

original list
[1, 2, 3]
[8, 7, 6]
[4, 3, 9]
transposed matrix
[1, 8, 4]
[2, 7, 3]
[3, 6, 9]

In [ ]:
# Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists

def flatten(data):
    return [item for sytem in data for item in sytem]

list1 = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

flattened = flatten(list1)

print("original list")
for i in list1:
    print(i)

print("Flattend list")
for r in flattened:
    print(r)

original list
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Flattend list
1
2
3
4
5
6
7
8
9

In [ ]:
#Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

list1 = list(range(1,10))

list1.pop(2)
list1.pop(4)
list1.pop(6)

list1.insert(5,99)
print(list1)

[1, 2, 4, 5, 7, 99, 8]

In [3]:
#Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result

list1 = [1,2,3,4,5]
list2 = [5,6,7,8,9]

result = zip(list1,list2)
# print(tuple(result))
# print(list(tuple(result)))
print(list(result))

[(1, 5), (2, 6), (3, 7), (4, 8), (5, 9)]

In [ ]:
# Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists
def reversed(data):
    return data[::-1]
list1 = [1,2,3,4,5]

print("original list")
print(list1)

reversed_data = reversed(list1)
print("reversed list")
print(reversed_data)

original list
[1, 2, 3, 4, 5]
reversed list
[5, 4, 3, 2, 1]

In [ ]:
# Write a function that rotates a list by n positions. Print the original and rotated lists.

def rotated(data,n):
    n = n%len(data)
    return data[-n:] + data[:-n]

list1 = [1,2,3,4,5,6,7,8]

rotated_data = rotated(list1,2)

print("original data")
print(list1)

print("rotated data")
print(rotated_data)

original data
[1, 2, 3, 4, 5, 6, 7, 8]
rotated data
[7, 8, 1, 2, 3, 4, 5, 6]

In [ ]:
# Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

def inter(data1,data2):
    return list(set(data1) & set(data2))


list1 = [1,2,3,4,5]
list2 = [6,7,3,4,10]

result = inter(list1,list2)
print("Intersection",result)

Intersection [3, 4]

# Tuples Assignment

In [ ]:
# Create a tuple with the first 10 positive integers. Print the tuple.

tuple1 = tuple(range(1,11))

print(tuple1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
# Print the first, middle, and last elements of the tuple created in Assignment 1

tuple1 = tuple(range(1,21))

first = tuple1[0]
middle = tuple1[len(tuple1) // 2]
last = tuple1[-1]

print("the first number",first)
print("the Middle number",middle)
print("the last number",last)

the first number 1
the Middle number 11
the last number 20

In [ ]:
#Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

tuple1 = tuple(range(1,21))

data = tuple1[0:3]
data2 = tuple1[-3:]
data3 = tuple1[1:5]

print(data)
print(data2)
print(data3)

(1, 2, 3)
(18, 19, 20)
(2, 3, 4, 5)

In [ ]:
# Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

tuple1 = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

tuple1[1][2]

6

In [ ]:
# Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

result = tuple1 + tuple2

print(result)

(1, 2, 3, 4, 5, 6)

In [ ]:
# Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

tuple1 = (1,2,3,1,5,3,7,8,4,9)

element = 3
data = tuple1.count(element)
indexing = tuple1.index(element)

print("the Number of count in the element in tuple",element,data)
print("where the index of element we want to find",element,indexing)

the Number of count in the element in tuple 3 2
where the index of element we want to find 3 2

In [ ]:
# Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

tuple12 = (1,2,3,4,5)
(Mango,Apple,Banana,Cherry,Strawberry) = tuple12

print(Mango)
print(Apple)
print(Banana)
print(Cherry)
print(Strawberry)

1
2
3
4
5

In [ ]:
# Convert a list of the first 5 positive integers to a tuple. Print the tuple

l1 = [1,2,3,4,5]

tuple1 = tuple(l1)
print(tuple1)

(1, 2, 3, 4, 5)

In [ ]:
# Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.
tuple1 = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print("the tuple of the element")
for i in tuple1:
    print(i)

the tuple of the element
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [ ]:
# Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

tuple1 = (1,2,3,4,5)

list1 = list(tuple1)
list1.append(6)

t1 = tuple(list1)
print(t1)

(1, 2, 3, 4, 5, 6)

In [ ]:
# Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.
String = "Abhinav"
tuple2 = tuple(String)

print("Tuple 1",tuple2)

result = "".join(tuple2)
print(result)

Tuple 1 ('A', 'b', 'h', 'i', 'n', 'a', 'v')
Abhinav

In [ ]:
# Create a dictionary with tuple keys and integer values. Print the dictionary.

tuple1 = (
    {'Abhinav':20},
    {'Bhanu':21},
    {'Surya':18}
)

print(tuple1)

({'Abhinav': 20}, {'Bhanu': 21}, {'Surya': 18})

In [ ]:
# Create a nested tuple and iterate over the elements, printing each element.

tuple1 = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print("the element")
for i in tuple1:
    for row in i:
        print(row)

the element
1
2
3
4
5
6
7
8
9

In [ ]:
# Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

tuple1 = (1,2,3,5,6,4,2,1,6,7,8,4,3,2,10)

result = set(tuple1)
print(result)

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [ ]:
# Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

def tuple1(data):
    sum = 0
    for i in data:
        sum +=i
    return min(data),max(data),sum

tuple2 = (1,2,3,4,5,6,7,8,12,34,56,78)
result= tuple1(tuple2)
#print("the result ",result)
print("the Minnium: ",result[0])
print("the maximum: ",result[1])
print("the sum of the tuple all element: ",result[2])

the Minnium:  1
the maximum:  78
the sum of the tuple all element:  216

# Set Assignment

In [ ]:
# Create a set with the first 10 positive integers. Print the set.
set1 = set(range(1,21))

print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [ ]:
set1 = set(range(1,11))

set1.add(11)
set1.remove(1)

print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [ ]:
# Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

Set1 = {1,2,3,4,5}
Set2 = {1,12,3,14,5}

print("Union is: ",Set1.union(Set2))
print("Difference is: ",Set1.difference(Set2))
print("Intersection is: ",Set1.intersection(Set2))
print("Symmertic Difference",Set1.symmetric_difference(Set2))

Union is:  {1, 2, 3, 4, 5, 12, 14}
Difference is:  {2, 4}
Intersection is:  {1, 3, 5}
Symmertic Difference {2, 4, 12, 14}

In [ ]:
# Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.
set1 = {1,2,3,4,5}
Set2 = {i * i for i in set1}
print(Set2)

{1, 4, 9, 16, 25}

In [ ]:
# Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.
set1 = set(range(1,40))
Set2 = {i for i in set1 if i%2==0}

print(Set2)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38}

In [ ]:
# Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.
import random

list1 = [random.randint(1,100) for _ in range(80)]
set2 = set(list1)

print("with duplicate",list1)
print("the without duplicate",set2)

with duplicate [65, 85, 28, 89, 32, 86, 1, 13, 66, 98, 56, 47, 48, 80, 65, 60, 11, 35, 99, 76, 61, 16, 92, 1, 34, 8, 99, 92, 28, 60, 82, 26, 53, 79, 63, 50, 38, 14, 2, 3, 30, 76, 97, 85, 46, 30, 19, 83, 66, 21, 27, 94, 76, 39, 50, 34, 10, 91, 43, 13, 53, 81, 66, 67, 91, 29, 76, 57, 52, 13, 84, 30, 79, 70, 55, 54, 52, 65, 21, 40]
the without duplicate {1, 2, 3, 8, 10, 11, 13, 14, 16, 19, 21, 26, 27, 28, 29, 30, 32, 34, 35, 38, 39, 40, 43, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 60, 61, 63, 65, 66, 67, 70, 76, 79, 80, 81, 82, 83, 84, 85, 86, 89, 91, 92, 94, 97, 98, 99}

In [ ]:
# Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.
S1 = {1,2,36,7,4}
S2 = {1,2,4}

result1 = S1.issubset(S2)
result2 = S2.issubset(S1)

print("the S2 is subset of S1",result1)
print("the S1 is subset of S2",result2)

the S2 is subset of S1 False
the S1 is subset of S2 True

In [ ]:
# Create a frozenset with the first 5 positive integers. Print the frozenset.

Set1 = {1,2,3,4,5}

frozen = frozenset(Set1) 
print(frozen)

frozenset({1, 2, 3, 4, 5})

In [ ]:
# Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set

Set1 = {1,2,3,4,5}

l1 = list(Set1)
l1.append(6)
Set2 = set(l1)
print(Set2)

{1, 2, 3, 4, 5, 6}

In [ ]:
# Create a dictionary with set keys and integer values. Print the dictionary.
set4 = {
    frozenset({"Abhinav"}): 23,
    frozenset({"Bhanu"}): 25,
    frozenset({"Ranjor"}): 27,
    frozenset({"Surya"}): 20
}
print("the dictionary in the set",set4)

the dictionary in the set {frozenset({'Abhinav'}): 23, frozenset({'Bhanu'}): 25, frozenset({'Ranjor'}): 27, frozenset({'Surya'}): 20}

In [ ]:
# Create a set and iterate over the elements, printing each element.
set1 = {1,2,3,4,5,6,7,8,9,10}

print("the iterator in the sets")
for r in set1:
    print(r)

the iterator in the sets
1
2
3
4
5
6
7
8
9
10

In [ ]:
# Create a set and remove elements from it until it is empty. Print the set after each removal.

set1 = {1,2,3,4,5,6,7,8,9,10}

while set1:
    element = set1.pop()
    print("The Removed Element",element,"| Remaning element",set1)

The Removed Element 1 | Remaning element {2, 3, 4, 5, 6, 7, 8, 9, 10}
The Removed Element 2 | Remaning element {3, 4, 5, 6, 7, 8, 9, 10}
The Removed Element 3 | Remaning element {4, 5, 6, 7, 8, 9, 10}
The Removed Element 4 | Remaning element {5, 6, 7, 8, 9, 10}
The Removed Element 5 | Remaning element {6, 7, 8, 9, 10}
The Removed Element 6 | Remaning element {7, 8, 9, 10}
The Removed Element 7 | Remaning element {8, 9, 10}
The Removed Element 8 | Remaning element {9, 10}
The Removed Element 9 | Remaning element {10}
The Removed Element 10 | Remaning element set()

In [ ]:
# Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

set1 = {1,2,3,4,5,6}
Set2 = {2,3,4,5,7,8}

set1 = set1.symmetric_difference(Set2)

print(set1)

{1, 6, 7, 8}

In [ ]:
# Create a set and test if certain elements are present in the set. Print the results.
set1 = {1,2,3,4,5,6}
print(3 in set1)
print(7 in set1)

element = 3
if element in set1:
    print(element)

True
False
3

In [ ]:
# Create a set containing tuples, where each tuple contains two elements. Print the set.

set1 = {
    (1,2),
    (3,4),
    (5,6)
}
print(set1)

{(1, 2), (3, 4), (5, 6)}

# Dictionary Assignment

In [1]:
# Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.

dict1 = {i: i**2 for i in range(1,10)}
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [2]:
# Print the value of the key 5 and the keys of the dictionary created in Assignment 1.
print("the value of the key",dict1[5])
print("the dictionary of the key vallue print",dict1.keys())

the value of the key 25
the dictionary of the key vallue print dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
# Add a new key-value pair (11, 121) to the dictionary created in Assignment 1 and then remove the key-value pair with key 1. Print the modified dictionary.
dict2 = {11:121}
dict1.update(dict2)
dict1.pop(1)

print(dict1)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 11: 121}

In [ ]:
# Iterate over the dictionary created in Assignment 1 and print each key-value pair

for key,value in dict1.items():
    print(f"{key}:{value}")

2:4
3:9
4:16
5:25
6:36
7:49
8:64
9:81
11:121

In [ ]:
# import sys

# print("Script Name:", sys.argv[0])
# print("All Arguments:", sys.argv)

# if len(sys.argv) > 1:
#     print("First argument:", sys.argv[1])
#     if len(sys.argv) > 2:
#         print("Second argument:", sys.argv[2])

Script Name: c:\Users\abhin\DataScience_ML\venv\Lib\site-packages\ipykernel_launcher.py
All Arguments: ['c:\\Users\\abhin\\DataScience_ML\\venv\\Lib\\site-packages\\ipykernel_launcher.py', '--f=c:\\Users\\abhin\\AppData\\Roaming\\jupyter\\runtime\\kernel-v383101972ac390019c5896d72e970b3c03296a6b1.json']
First argument: --f=c:\Users\abhin\AppData\Roaming\jupyter\runtime\kernel-v383101972ac390019c5896d72e970b3c03296a6b1.json